/**
 * components/typography.css
 * 
 * Typography rules.
 *
 */

/**
 !! ADD GOOGLE FONT IMPORTS TO:
 !! templates/_inline_css/site-fonts.css
 **/


h1, h2, h3, h4, h5, h6 {
    font-family: var(--headline);
    
    @apply font-extrabold;

    strong {
        @apply text-red-600;
    }
}

h1 {
    @apply text-7xl leading-none;
}

h2 {
    @apply text-5xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    
}