<div class="c-skipToContent" style="opacity: 0;">
    <div>Skip to <a href='#page-content' aria-label="Jump to Content">content</a> or <a href='#page-footer' aria-label="Jump to Footer">footer</a></div>
</div>