{% if fragmentID %}
    {% set method    = method   ?? 'sequential' %}
    {% set position  = position ?? 'content'    %}

    {% set fragments = craft.entries().section('fragments').id(fragmentID).all() %}
    
    {% if method == 'abtest' %}
        {% set fragments = shuffle( fragments )|slice(0,1) %}
    {% endif %}
    
    {% if fragments %}
        {% for fragment in fragments %}
            <div class="block-container">
                {% set blocks = [] %}
                {% switch position %}
                    {% case 'footer' %}
                        {% set blocks = fragment.footerBlocks.all() %}
                    {% case 'hero' %}
                        {% set blocks = fragment.heroBlock.all() %}
                    {% case 'sidebar' %}
                        {% set blocks = fragment.sidebarBlocks.all() %}
                    {% default %}
                        {% set blocks = fragment.contentBlocks.all() %}
                {% endswitch %}

                {% for block in blocks %}
                    {% set entryId   = block.id %}
                    {% set entryType = entryType ?? block.type.handle    ?? '' %}
                    {% set section   = section   ?? block.section.handle ?? '' %}
                    {% set layout    = layout    ?? block.layout         ?? '' %}
                    {% set blockType = blockType ?? block.type.handle    ?? '' %}

                    {% include ([  
                        '_blocks/' ~ blockType ~ '.' ~ section ~ '.' ~ entryType ~ '.' ~ layout ~ '.twig',
                        '_blocks/' ~ blockType ~ '.' ~ section ~ '.' ~ entryType ~ '.twig',
                        '_blocks/' ~ blockType ~ '.' ~ section ~ '.' ~ layout ~ '.twig',
                        '_blocks/' ~ blockType ~ '.' ~ section ~ '.twig',
                        '_blocks/' ~ blockType ~ '.' ~ layout ~ '.twig',
                        '_blocks/' ~ blockType ~ '.twig'
                    ]) %}
                {% endfor %}
            </div>
        {% endfor %}
    {% endif %}
{% endif %}