{% set position = position ?? '' %}
{% set blocks   = blocks.one() is defined ? blocks.all() : blocks %}

{% if blocks %}
    <div id="{{position}}-blocks" class="block-container">
        {% for block in blocks %}
            {% set layout    = block.layout      ?? layout     ?? '' %}
            {% set blockType = block.type.handle ?? block.type ?? '' %}        

            {% include ([  
                '_blocks/' ~ position ~ '.' ~ blockType ~ '.' ~ entry.section.handle ~ '.' ~ entry.type.handle ~ '.' ~ layout ~ '.twig',
                '_blocks/' ~ position ~ '.' ~ blockType ~ '.' ~ entry.section.handle ~ '.' ~ entry.type.handle ~ '.twig',
                '_blocks/' ~ position ~ '.' ~ blockType ~ '.' ~ entry.section.handle ~ '.' ~ layout ~ '.twig',
                '_blocks/' ~ position ~ '.' ~ blockType ~ '.' ~ entry.section.handle ~ '.twig',
                '_blocks/' ~ position ~ '.' ~ blockType ~ '.' ~ layout ~ '.twig',
                '_blocks/' ~ position ~ '.' ~ blockType ~ '.twig',
                '_blocks/' ~ blockType ~ '.' ~ layout ~ '.twig',
                '_blocks/' ~ blockType ~ '.twig'
            ]) with {
                entry: entry,
                block: block,
                position: position,
                loop: loop
            } only %}
        {% endfor %}
    </div>
{% endif %}