{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="bg-gray-300 py-16">
        <div class="container mx-auto relative overflow-hidden">
            <div class="flex">
                <div class="w-2/3">
                    {% include '_blocks/_partials/eyebrow.twig' %}
                    {% include '_blocks/_partials/headline-h1.twig' with {
                        class: 'mb-4 text-6xl'
                    } %}

                    {% include '_blocks/_partials/prose.twig' with {
                        class: 'prose-2xl'
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}