{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">
        
        {% include '_blocks/_partials/eyebrow.twig' %}

        <hooper
            :wheel-control="false"
            :auto-play="false"
            :play-speed="15000"
            >
            {% for image in block.images.all() %}
                <slide>
                    <div class="image">
                        {% include '_blocks/_partials/image.twig' with {
                            image: image
                        } %}
                    </div>
                </slide>
            {% endfor %}

            {% if block.images.all()|length > 1 %}
                <hooper-pagination slot="hooper-addons" class="my-4 flex justify-center"></hooper-pagination>
            {% endif %}
        </hooper>
    </div>
{% endblock %}