{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">
        {% set query = craft.entries()
            .section('faqs')
            .limit(block.limit) %}
        
        {% paginate query as pageInfo, pageEntries %}

        {% for entry in pageEntries %}
            {% include 'faqs/_tease.twig' with { format: 'text' } %}
        {% endfor %}
            
        {% include '_partials/pagination.twig' %}
    </div>
{% endblock %}