{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">
        {% set query = craft.entries()
            .section('news')
            .limit(block.limit) %}
        
        {% paginate query as pageInfo, pageEntries %}

        {% for entry in pageEntries %}
            {% include 'news/_tease.twig' with { format: 'card' } %}
        {% endfor %}
            
        {% include '_partials/pagination.twig' %}
    </div>
{% endblock %}