{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">
        {% include '_blocks/_partials/headline.twig' %}
        {% include '_blocks/_partials/redactor-text.twig' %}
        {% include '_blocks/_partials/buttons.twig' %}
    </div>
{% endblock %}

{% block js %}{% endblock %}