{% extends '_blocks/_layout.twig' %}

{% set leftWidth  = 'w-1/2' %}
{% set rightWidth = 'w-1/2' %}
{% if block.layout == 'heavyLeft' %}
    {% set leftWidth  = 'w-2/3' %}
    {% set rightWidth = 'w-1/3' %}
{% endif %}
{% if block.layout == 'heavyRight' %}
    {% set leftWidth  = 'w-1/3' %}
    {% set rightWidth = 'w-2/3' %}
{% endif %}

{% block body %}
    <div class="block-content container">
        {% include '_blocks/_partials/eyebrow.twig' %}

        <div class="flex">
            <div class="text left {{leftWidth}} pr-8 flex">
                {% include '_blocks/_partials/prose.twig' with {
                    class: 'lg:prose-2xl w-full'
                } %}
            </div>

            <div class="text right {{rightWidth}} pl-8 flex">
                {% include '_blocks/_partials/prose.twig' with {
                    text:  block.text2 ?? '',
                    class: 'lg:prose-2xl w-full'
                } %}
            </div>
        </div>
    </div>
{% endblock %}

{% block tailwind %}
    {#-- these don't show up anywhere, but the tailwind JIT compiler finds them -- #}
    <div class="w-1/2"></div>
    <div class="w-1/3"></div>
    <div class="w-2/3"></div>
{% endblock %}
