{% extends '_blocks/_layout.twig' %}

{% block body %}
    <div class="block-content container">
        {% include '_blocks/_partials/eyebrow.twig' %}

        {% set class = '' %}
        {% if block.layout == 'columns' %}
            {% set class = 'gap-16 columns-2' %}
        {% endif %}

        {% if block.layout == 'twoThird' %}
            {% set class = 'w-2/3 mr-auto ml-auto' %}
        {% endif %}

        {% if block.layout == 'oneThird' %}
            {% set class = 'w-2/5 mr-auto ml-auto' %}
        {% endif %}

        {% include '_blocks/_partials/prose.twig' with {
            class: 'lg:prose-2xl ' ~ class
        } %}
    </div>
{% endblock %}

{% block js %}{% endblock %}