{% extends "_layouts/generic-page-layout.twig" %}

{% set bodyClasses = 'home' %}

{% block content %}
    {% include '_partials/hero.twig' with { entry: entry, size: 'large' } %}

    <div class="page--home">
        {% include 'blocks/_loop.twig' with { 'blocks': entry.contentBlocks } %}
    </div>
{% endblock %}

{% block subcontent %}
    {% include '_partials/above-footer.twig' %}
{% endblock %}

{% block contentJS %}
    {% include 'blocks/_loop.twig' with { 'blocks': entry.contentBlocks, js: true } %}
{% endblock contentJS %}
