{% extends "blocks/_layout.twig" %}

{% block body %}
    <div class="block-content container">
        {% include 'blocks/_partials/headline.twig' %}
        {% include 'blocks/_partials/redactor-text.twig' %}
        {% include 'blocks/_partials/buttons.twig' %}
    </div>
{% endblock %}

{% block js %}{% endblock %}