{% set entry  = entry  ??? null %}
{% set blocks = blocks ??? entry.listingBlock.all() %}

{% if blocks %}
    <section class="
        c-listing--{{entry.section.handle}}--{{entry.type.handle}}
        my-10
    ">
        {% block aboveBuilder %}{% endblock %}

        {% block builder %}
            {{ include( '_components/builders/_loop', {
                'position': 'listing',
                'blocks'  : blocks,
                'entry'   : entry,
            }, withContext = false ) }}
        {% endblock %}

        {% block belowBuilder %}{% endblock %}
    </section>
{% endif %}