html {
    font-size: 62.5%;
}

body {
	margin     : 0;
	padding    : 0;
	position   : relative;
	font-weight: 400;
    font-family: var(--text);
    font-size  : 1.8rem;
    
    @include tablet-down {
        overflow-x : hidden;
    }

    &.has-mobile-menu {
        overflow: hidden;
        max-height: 100vh;
        min-height: 100vh;
    }
}

#page-container {
    opacity: 1 !important;
    transition: opacity 0.3s ease-out 0.5s;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#content-container {
	position: relative;
	z-index: 5;
    padding-bottom: 10rem;
    flex-grow: 1;
}

::selection {
	background: var(--blonde); /* WebKit/Blink Browsers */
  }

::-moz-selection {
	background: var(--blonde); /* Gecko Browsers */
}


div.container {
    margin: 0 auto;
    width : 100%;

    /* for testing purposes only */
    border: 1px dashed rgba(0,0,0,0.25);

    @include desktop-up {
        max-width: $desktop-width - 50px;
    }

    @include legacy {
        max-width: $legacy-width - 50px;
    }

    @include tablet {
        max-width: $tablet-width - 12px;
        width    : calc( 100% - 20px );
        margin   : 0 auto;
    }

    @include mobile {
        max-width: $mobile-width - 20px;
        width    : calc( 100% - 20px );
        margin   : 0 auto;
    }

    @include tiny {
        min-width: 280px;
        width    : calc( 100% - 8px );
        margin   : 0 auto;
    }

    img {
        max-width: 100%;
    }
}