{% if block.buttons|length %}
    <div class="button-wrapper">
        {% for button in block.buttons %}
            <a href="{{button.url}}" class="button">{{button.label}}</a>
        {% endfor %}
    </div>
{% endif %}