{# -- Load Emergency Message Single -- #}
{% set eMsg = craft.entries().section('emergencyMessage').one() %}

{# -- Load Emergency Message Single -- #}
{% if eMsg and ( eMsg.eMsg_placement != 'homePage' or ( entry.slug is defined and entry.slug == 'home' ) ) %}
    {% set msg = {
        'text': eMsg.eMsg_text,
        'placement': eMsg.eMsg_placement,
        'link': eMsg.eMsg_linkLabel,
        'url': eMsg.eMsg_linkUrl
    } %}    
    <div id="emergency-message">
        <emergency-message :msg="{{ msg|json_encode }}"></emergency-message>
    </div>

    {{ craft.twigpack.includeJsModule("emergency-message.js", true) }}
{% endif %}