<footer id="page-footer" class="bg-black bg-opacity-70">
    <div class="container py-6">
        <div class="flex">
            <div class="text-white mr-2">
                © {{"now"|date('Y')}} {{ currentSite.name }}. All rights reserved.
            </div>

            <nav class="legal" role="navigation" aria-label="Legal Navigation">
                {{ craft.navigation.render('legal', {
                    ulClass: 'm-0 p-0 list-none flex',
                    liClass: 'nav-item',
                    aClass: 'text-white block mr-2',
                    activeClass: 'nav-active',
                    hasChildrenClass: 'nav-has-children',
                    ulAttributes: {
                        'data-attr': 'Some value',
                    },
                    liAttributes: {
                        'data-attr': 'Some value',
                    },
                    aAttributes: {
                        'data-attr': 'Some value',
                    },
                }) }}
            </nav>
        </div>
    </div>
</footer>