<footer id="page-footer">
    <div class="container">
        <div class="wrapper">
            <div class="legal">
                © {{"now"|date('Y')}} Example Inc. All rights reserved.
            </div>

            <nav class="legal" role="navigation" aria-label="Legal Navigation">
                <ul>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
