<header id="page-header">
    <div class="container">
        <div class="wrapper">
            <div class="c-primaryLogo"><a href="/">[LOGO]</a></div>
            <nav class="c-primary" role="navigation" aria-label="Primary Navigation">
                {{ craft.navigation.render('primary', {
                    ulClass: 'm-0 p-0 list-none flex',
                    liClass: 'nav-item',
                    aClass: 'nav-link',
                    activeClass: 'nav-active',
                    hasChildrenClass: 'nav-has-children',
                    ulAttributes: {
                        'data-attr': 'Some value',
                    },
                    liAttributes: {
                        'data-attr': 'Some value',
                    },
                    aAttributes: {
                        'data-attr': 'Some value',
                    },
                }) }}
            </nav>

            <mobile-toggle @toggle-menu="handleMenuToggle" :open="mobileOpen"></mobile-toggle>
        </div>
    </div>
</header>