<header id="page-header">
    <div class="container">
        <div class="wrapper">
            <div class="c-primaryLogo"><a href="/">[LOGO]</a></div>
            <nav class="c-primary" role="navigation" aria-label="Primary Navigation">
                {{ craft.navigation.render('primaryNavigation', {
                    ulClass: 'nav-items',
                    liClass: 'nav-item',
                    aClass: 'nav-link',
                    activeClass: 'active',
                }) }}
            </nav>
        </div>
    </div>
</header>