{% set mobilePages = [] %}
{% set nodes = craft.navigate.raw('primary') %}
{% for item in nodes %}
    {% set mobilePages = mobilePages|merge([{
        id: item.id,
        url: item.url,
        title: item.name,
        level: 1,
    }]) %}
{% endfor %}

<div id="mobile-menu">
    <mobile-menu :pages="{{mobilePages|json_encode}}"></mobile-menu>
</div>

{{ craft.twigpack.includeJsModule("mobile-menu.js", true) }}
