{% set mobilePages = [] %}
{# {% set nodes = craft.navigation.nodes('primaryNavigation').all() %}
{% for item in nodes %}
    {% set mobilePages = mobilePages|merge([{
        id: item.id,
        url: item.url,
        title: item.title,
        level: item.level,
    }]) %}
{% endfor %} #}

<div id="mobile-menu">
    <mobile-menu :pages="{{mobilePages|json_encode}}"></mobile-menu>
</div>

{{ craft.twigpack.includeJsModule("mobile-menu.js", true) }}
