{% if pageInfo.totalPages > 1 %}
    <nav class="c-pagination" role="navigation" aria-label="Pagination Navigation">
        <ul>
            {% if pageInfo.prevUrl %}
                <li class="prev"><a href="{{ pageInfo.prevUrl }}">&larr; Prev</a></li>
            {% endif %}
            <li class="pageCount">{{ pageInfo.currentPage }} of {{ pageInfo.totalPages }}</li>
            {% if pageInfo.nextUrl %}
                <li class="next"><a href="{{ pageInfo.nextUrl }}">Next &rarr;</a></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}