<div class="c-searchForm">
    <form action="{{ url('search') }}">
        <label>Search Term</label>
        <input type="search" name="q" placeholder="" value="{{searchText ?? ''}}">
        <button>Search</button>
    </form>
</div>