{% if topics %}
    <nav class="c-taglist" role="navigation" aria-label="Topics">
        <strong>Topics</strong>
        <ul>
        {% for topic in topics.all() %}
            <li><a href="{{topic.url}}" class="tag">{{topic.title}}</a></li>
        {% endfor %}
        </ul>
    </nav>
{% endif %}