.c-block {
    margin-bottom: 4rem;

    .block-content {
        .wrapper {
            .text {
                & > :first-child {
                    margin-top: 0;
                }
            }
        }

        ul:last-child,
        ol:last-child,
        p:last-child {
            margin-bottom: 0;
        }
  
        figure {
            display: block;
            width: 100%;
            max-width: 100%;
            margin: 2.5rem 0;
            text-align: center;
    
            div.image {
                img {
                    display: inline-block;
                    margin: 0 auto;
                    padding: 0;
                    line-height: 1em;
                }
            }

            div.video {
                position: relative;
                padding-bottom: 56.25%; /* 16:9 */
                height: 0;
                margin: 4rem 0;
                
                iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@import './blocks/text.scss';
@import './blocks/textImage.scss';