/**
 * pagination.css
 *
 */

.c-pagination {
    margin-top: 5rem;
    background: #eee;
    padding: 1rem;

    li {
        margin-bottom: 0 !important;
        margin-right: 1rem !important;
    }
}