.c-searchForm {
    font-size: 1.8rem;

    label {
        font-weight: bold;
        display: block;
    }

    input[type=search] {
        min-width: 20rem;
        font-size: 1.8rem;
        line-height: 1em;
        padding: 1rem;
        width: calc( 100% - 9rem );

        @screen md {
            min-width: 40rem;
            max-width: 40rem;
        }
    }
        
    button {
        padding: 1rem;
        width: 9rem;
    }
}

.c-searchResults {
    
}