{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
    {% set pageTitle = entry.title %}
    {% set heroImage = '' %}
    {% include '_partials/hero.twig' with { image: heroImage, title: pageTitle, size: 'large' } %}

    <div class="page--{{entry.slug}}">
        {% include 'blocks/_loop.twig' with { 'blocks': entry.contentBlocks } %}
    </div>
{% endblock %}

{% block subcontent %}
    {% include '_partials/above-footer.twig' %}
{% endblock %}