{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}

    {% include '_partials/breadcrumb.twig' %}

    <div class="topic--{{category.slug}}">
        <div class="container">
            <h1>{{category.title}}</h1>

            {{category.summary}}
        </div>

        {% set query = craft.entries()
            .relatedTo(category)
            .limit(10) %}
        
        {% paginate query as pageInfo, pageEntries %}

        <div class="container">
            {% for entry in pageEntries %}
                {% include 'tease/' ~ entry.type.handle ~ '.twig' %}
            {% endfor %}
            
            {% include '_partials/pagination.twig' %}
        </div>
    </div>
{% endblock %}

{% block subcontent %}
    {% include '_partials/above-footer.twig' %}
{% endblock %}