{% if block.headline %}
    <h2
        class="block-headline {{block.headlineStyle}}"    
        id="{{block.headline|kebab|ascii}}"      
    >
        {{ block.headline
            | replace( { '<p>': '', '</p>': '' } )
            | typogrify(true)
            | nl2br
        }}
    </h2>
{% endif %}