{% set class    = class ?? 'mb-8' %}
{% set headline = block.headline ?? headline ?? '' %}
{% set align = '' %}
{% if 'text-align: center' in headline %}
    {% set align = 'text-center' %}
{% endif %}

{% if 'text-align: right' in headline %}
    {% set align = 'text-right' %}
{% endif %}

{% set headline = headline|retconChange( ['h1','h2','h3','h4','h5','h6','p'], '' ) %}
{% if headline %}
    <h2
        class="{{class}} {{align}}"
        id="{{headline|kebab|ascii}}"
    >
        {{ headline
            | typogrify(true)
            | nl2br
        }}
    </h2>
{% endif %}