{% set text  = text ?? block.text %}
{% set class = class ?? 'prose-xl' %}
{% if text %}
    <div
        v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }"
        class="prose {{class}}">
        {{
            text
                | typogrify
                | retconChange( 'h1', 'h2' )
                | retconAttr( "figure", { style: '' } )
                | retconWrap( "figure img", ".img" )
                | retconWrap( "figure iframe[src*='youtube']", ".video" )
                | retconAttr( "figure div.image + figcaption", { class: 'img' } )
                | retconAttr( "figure div.video iframe", { style: '' } )
        }}
    </div>
{% endif %}