{% extends '_components/builders/_block.twig' %}

{% block blockContent %}
    <div class="block-content container">       
        {{ include( '_components/text/eyebrow.twig' ) }}
        {{ include('_components/text/prose', {

        }) }}
        <hooper
            :wheel-control="false"
            :auto-play="false"
            :play-speed="15000"
            >
            {% for entry in block.items.all() %}
                <slide>
                    <div class="feature">
                        {% include  [
                            ( entry.section.handle ~  '/_tease.' ~ position ~ '.twig'), 
                            ( entry.section.handle ~ '/_tease.twig'),
                            '_pages/_tease.' ~ position ~ '.twig',
                            '_pages/_tease.twig'
                        ] with {
                            titleTag: 'h3',
                            entry: entry,
                            format: 'feature'
                        } %}
                    </div>
                </slide>
            {% endfor %}

            {% if block.items.all()|length > 1 %}
                <hooper-pagination slot="hooper-addons" class="my-4 flex justify-center"></hooper-pagination>
            {% endif %}
        </hooper>
    </div>
{% endblock %}