.c-block--textImage {
    
    .wrapper {
        display: flex;

        @mixin mobile {
            flex-direction: column-reverse;
        }
    }

    .text {

    }

    .image {
        max-width: 33%;
        margin-left: 4rem;

        @mixin mobile {
            max-width: 100%;
            margin-left: 0rem;
            margin-bottom: 1rem;
        }
    }

}