{# <div
    x-data="{open:true}"
    x-init="$nextTick(() => {open=false})"
    class="fixed h-full w-full z-50"
>
    <div
        x-show="open"    
        class="absolute h-full w-full bg-red-500"
    >&nbsp;</div>
</div> #}