{# -- Layout template for HTML pages -- #}
{#
 ┌─────────────────────────────────────────────────────────────────────────────┐
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                 content                                 │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │ ┌─────────────────────────────────────────────────────────────────────────┐ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                                                                         │ │
 │ │                               subContent                                │ │
 │ └─────────────────────────────────────────────────────────────────────────┘ │
 │                                                                             │
 │                                  bodyHtml                                   │
 └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends "_boilerplate/_layouts/base-html-layout.twig" %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
    {% include "_inline-css/site-fonts.css" %}
{% endblock headCss %}

{# -- Page body -- #}
{% block bodyHtml %}
    <div id="page-container">
        {# -- Emergency Message / Hello Bar -- #}
        {% include "_partials/emergency-message.twig" %}

        <div id="content-container">
            {# -- Info header, including _navbar.twig -- #}
            {% include "_partials/info-header.twig" %}

            <main id="page-content">
                {# -- Primary content block -- #}
                {% block content %}
                {% endblock %}
            </main>

            {# -- Mobile Menu -- #}
            {% include "_partials/mobile-menu.twig" %}
        </div>

        {# -- Content that appears below the primary content block -- #}
        {% block subcontent %}{% endblock %}

        {# -- Info footer -- #}
        {% include "_partials/info-footer.twig" %}

        {# -- HTML Footer -- #}
        {% include "_partials/global-footer.twig" %}

        {# -- Confetti proves Vue single file components are loading. Remove for production -- #}
        {% if not craft.app.request.pathInfo %}
            <confetti></confetti>
        {% endif %}
    </div>
{% endblock bodyHtml %}
