{% extends "_layouts/generic-page-layout.twig" %}

{% block content %}
    {% include '_partials/hero.twig' with { image: '', title: entry.title } %}
    
    <div class="page--standard page--{{entry.slug}}">
        {% include '_blocks/_loop.twig' with { 'blocks': entry.contentBlocks } %}
    </div>
{% endblock %}

{% block subcontent %}
    {% include '_partials/above-footer.twig' %}
{% endblock %}

{% block contentJS %}
    {% include '_blocks/_loop.twig' with { 'blocks': entry.contentBlocks, js: true } %}
{% endblock contentJS %}