.c-block--textText {
    padding-top: 6rem;
    padding-bottom: 6rem;

    .block-content {
        .wrapper {
            display: flex;
            justify-content: space-between;

            .text {
                max-width: 47.5%;
                min-width: 47.5%;
            }
        }
    }
}